/* cb charts default styles rules */
.cbc-chart { position: relative; overflow: visible; color: #333; width:100%; text-align:left; }
.cbc-chart p { margin: 0; padding: 0; }
.cbc-title { color: #333; font-size: 18px; font-weight: normal; padding-bottom: 6px; text-align: center; margin: 0; }
.cbc-subtitle { font-size: 12px; font-weight: normal; color: #666; text-align: center; padding-bottom: 10px; margin: 0; }
.cbc-default-rules { width:0; }

.cbc-canvas { position:absolute; top:0; left:0; text-align:left; display:inline-block; text-align:left; overflow:hidden; }
/* Charts legend */
.cbc-legend, .cbc-legend-bg { position:absolute; padding:2px 5px; color:#333; z-index:2; text-align:left; }
.cbc-legend-bg { background:#fff; border:2px solid #ccc; opacity:0.8; border-radius:6px; padding:2px 5px; }
.cbc-legend-item-ver, .cbc-legend-item-hor { margin:2px 0px; float:none; cursor:pointer; }
/*.cbc-legend-item-name {display:inline-block;}*/
.cbc-legend-item-hor { float:left; padding:2px 4px; }
.cbc-legend-item:hover { color:#000; }
.cbc-legend-symbol { float:left;  margin:3px 4px 0 0;}

/* Charts axes */
.cbc-label-axis-container,.cbc-data-axis-container,.cbc-data-label-container, .cbc-axis-container{ position: absolute; bottom: 0; right: 0; width:100%; height:100%; overflow:hidden; }

/* yaxis styles */
.cbc-yaxis-marker-left, .cbc-yaxis-marker-right { position: absolute; font-size: 11px; color: #333; text-align: right; padding-right: 4px; }
.cbc-yaxis-marker-right { text-align: left; padding-left: 4px; }
.cbc-yaxis-marker-horizontal{ position: absolute; bottom: 0; font-size: 11px; color: #333; }

/* xaxis styles */
.cbc-xaxis-marker { position:absolute; font-size:11px; color:#333; padding:0 0; text-align: center;}
.cbc-xaxis-marker-vertical{ position: absolute; font-size: 11px; color: #333; text-align: center; }
.cbc-guide-border { border:1px solid #ccc;  }

.cbc-tooltips { /*-webkit-transition: left .25s linear, top .25s linear, border .50s linear;*/
color: #000; display: none; white-space: nowrap; background: #fff; position: absolute; font-size: 12px; padding: 8px 6px 6px; border: 2px solid #000; border-radius: 10px; opacity: 0.8; z-index:8; text-align:center; }
.cbc-tooltips-title, .cbc-tooltips-text { font-weight: bold; padding-bottom: 4px; }
.cbc-tooltips-text { font-weight:normal; }
.cbc-tooltips-value { display:inline; }
/* tool tip dividers divide combinded tooltip sections */
.cbc-tooltips-divider { border-top:1px solid #999; margin:4px 0; }
.cbc-data-label { position: absolute; z-index: 6; background:transparent; }
.cbc-yaxis-label { position: absolute; font-size: 12px; z-index:7; padding-bottom:8px; white-space:nowrap; }

/*highlight areas*/

.cbc-highlight{ z-index:1;  position: absolute; bottom: 0; right: 0; width:100%; height:100%; }
.cbc-highlight-wind { background:rgb(68, 170, 213); opacity:0.6; }
.cbc-highlight-label { position:absolute; }

.newtips { display: none; white-space: nowrap; background: #eee; color: #000; position: absolute; font-size: 16px; padding: 10px; border: none; -moz-border-radius: 9px;}



.series1 {
	width: 2px;
	background: #FFCC00;
}

.series1-hover {
	width: 2px;
}

.series2 {
	width: 2px;
	background: #ed116b;
}

.series3 {
	width: 4px;
	background: #96CEF0;
}

.series4 {
	width: 2px;
	background: #f78820;
}