/* Space out content a bit */
html{
  height:100%;
  margin: 0;
  position: relative;
}

body {
  background:#E8E8E8 url(../images/taxplanet-bg-2.png) no-repeat center center;
  color:#444;
  overflow: auto;
  min-height: 100%;
  background-attachment: fixed;
}

img {
  border: 0;
  max-width: 100%;
}

/* Custom page header */
.header {
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  letter-spacing: 3px;
}

.header .info1{
  background: #43919D;
  height:70px;
  width: 286px;
  text-align: center;
  overflow: auto;
  float:left;
}

.header .page-title{
  color:#fff;
  float:left;
  padding-top: 25px;
  padding-left: 32px;
}

.header .selected-calculator{
  float:right;
  height:70px;
  min-width: 100px;
  margin-right: 10px;
  padding:0 10px;
  position: relative;
  cursor:pointer;
}

.header .selected{
  float:left;
  margin-right: 59px;
  padding-top: 18px;
  padding-bottom: 12px;
  background: url(../images/downArrow.png) no-repeat bottom center;
  font-weight: bold;
}

.header .selected-calculator .world{
  background: url(../images/taxselection-bg.png) no-repeat center right;
  position: absolute;
  top:10px;
  right:10px;
  width:47px;
  height: 46px;
}

.header .selected-calculator:hover{
  background-color: #64ADB7;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #fff;
  font-size: 15px;
  margin-top: 0;
  padding-top:25px;
  margin-bottom: 0;
  line-height: 18px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.header h3 span{
  color: #0B0B0B;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  max-width: 730px;
  margin: 0 auto;
}

.salary-settings{
  border:1px solid #ccc;
  background: #171717;
  margin: 0 10px 20px;
  color:#aaa;
}

.salary-settings-inner{
  padding: 22px;
  height:auto;
}

.salary-settings-inner .btn-default {
  color: #333333;
  background-color: #eee;
  border: none;
  border-radius: 0;
  padding: 7px 12px;
}

.more-settings{
  display:none;
}

.more-settings.selected{
  display:block;
  padding: 10px 12px;
  background: #fff;
}

.more-settings.selected .form-control{
  border: 1px solid #ccc;
}

.salary-hd{
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -30px;
  margin-bottom: 22px;
  color: #aaa;
  font-family: 'Carrois Gothic SC', sans-serif;
}

label{
  font-family: 'Carrois Gothic SC', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  margin-bottom:8px;
}

.hide-toggle{
  background: #fff;
  color:#666;
  display:block;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  padding:10px;
  margin-bottom:2px;
  font-weight: bold;
  cursor: pointer;
}

.hide-toggle:hover{
  background: #fff;
}

.form-control{
  border-radius: 0;
  border:none;
  box-shadow: none;
}

.form-group{
  margin-bottom: 24px;
}

.checkbox{
  padding-left: 0;
  margin-bottom:20px;
}

.checkbox input[type="checkbox"]{
  float:right;
}


/* Results */

.results-container{
  overflow: hidden;
}

.results{
  margin: 40px 0 0 0;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.result-block{
  padding:23px 32px 34px;
  background: rgba(239,240,240,.8);
  margin-bottom:20px;
}

.result-block:nth-child(even){
  background: rgba(249,249,249,0.8);
}

.result-block h4{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  color: #222;
  letter-spacing: 1px;
  margin-top: 0;
}

.result-block table{
  margin-bottom: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 12px;
}


.summary-hd{
  overflow: hidden;
}

.summary-hd h4{
  float:left;
}

.summary-options{
  float:right;
}

.summary-options ul{
  list-style: none;
}

.summary-options ul li{
  float:left;
  display: block;
  padding:0 8px;
  color:#666;
  cursor: pointer;
}

.summary-options ul .selected{
  text-decoration: underline;
  color:#222;
}

.result-summary-ctr{
  width:300px;
}

.result-summary, .result-summary-2{
  margin:0 0 20px;
  text-transform: uppercase;
  overflow:hidden
}

.result-summary:last-child{
  margin:0;
}

.result-label{
  min-width: 180px;
  float:left;
  color:#268A9A;
}

.result-highlight, .result-highlight-red{
  color:#000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  float:right;
}

.result-highlight-red{
  color:#930000;
}

.result-summary-2 span{
  float:none
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Customize container */

@media (min-width: 960px) {

  .salary-settings{
    position: absolute;
    left: 0;
    top: 0;
    width: 286px;
    border: none;
    margin:0;
  }

  .salary-settings-inner{
    width:235px;
    margin:100px auto 0;
    padding: 0;
  }

  .more-settings{
    display:block;
  }

  .more-settings.selected{
    padding: 0;
    background: transparent;
  }

  .more-settings.selected .form-control{
    border: none;
  }

  .results{
    margin: 40px 10px 0 306px;
  }

  .result-block{
    margin-bottom:0;
  }

  .header {
    position: relative;
    z-index: 2;
    height: 70px;
    background: #4DA5B3;
  }

  #taxed-bg {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }

  .hide-toggle{
    display:none;
  }

}


@media (min-width: 1360px){

  .results {
    margin: 0 0 0 286px;
  }

  .result-block table{
    font-size:14px;
  }

}

@media (max-width: 1100px){
  .col-md-6 {
    width: auto;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* --- Bootstap Skin --- */

.dropdown-menu {
  border-radius: 0;
}


/* --- chart --- */

#wealth-dis-chart, #pieChart{
  width:100%;
  height:200px;
}

/* Donut chart colors */

.donutActive {
  width: 1px;
  background: #43919D;
  border-color: #fff;
}

.donutInactive {
  width: 1px;
  background: #333;
  border-color: #fff;
}

.donutInactive:hover {
  background: #000;
}