/* Space out content a bit */
html{
  height:100%;
  margin: 0;
position: relative;
}

body {
  background:#E8E8E8 url(images/taxplanet-bg.png) no-repeat center center;
  color:#555;
  overflow: auto;
  min-height: 100%;
}

img {
  border: 0;
  max-width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 30px;
  padding-right: 30px;
}

/* Custom page header */
.header {
  position: absolute;
  top: 3px;
  left: 16px;
  padding: 8px 0px;
  text-transform: uppercase;
  z-index: 2;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #444;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 18px;
  font-family: 'Carrois Gothic SC', sans-serif;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  max-width: 730px;
  margin: 0 auto;
}

.salary-settings{
  border:1px solid #ccc;
  background: #F6F6F6;
  margin: 0 10px 20px;
}

.salary-settings-inner{
  padding: 22px;
  height:auto;
}

.salary-settings-inner .btn-default {
  color: #333333;
  background-color: #eee;
  border: none;
  border-radius: 0;
}

.more-settings{
  display:none;
}

.more-settings.selected{
  display:block;
}

.salary-hd{
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -30px;
  margin-bottom: 22px;
  color: #aaa;
  font-family: 'Carrois Gothic SC', sans-serif;
}

label{
  color:#666;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  margin-bottom:8px;
}

.hide-toggle{
  background: #fff;
  color:#666;
  display:block;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-transform: uppercase;
  font-size:12px;
  padding:10px;
  margin-bottom:10px;
  font-weight: bold;
  cursor: pointer;
}

.hide-toggle:hover{
  background: #fff;
}

.form-control{
  border-radius: 0;
  border:none;
  box-shadow: none;
}

.form-group{
  margin-bottom: 24px;
}

.checkbox{
  padding-left: 0;
  margin-bottom:20px;
}

.checkbox input[type="checkbox"]{
  float:right;
}


/* Results */

.results{
  margin: 40px 0 0 0;
  font-family: 'Carrois Gothic SC', sans-serif;
  display: inline-block;
}

.result-block{
  border: 1px solid #dedede;
  padding:22px;
  background: rgba(255,255,255,0.75);
  margin-bottom:20px;
}

.result-block h4{
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -4px;
  margin-bottom: 16px;
  color: #aaa;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.result-block table{
  margin-bottom: 0;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 12px;
}

.result-summary{
  margin:0 0 20px;
}

.result-summary:last-child{
  margin:0;
}

.result-highlight, .result-highlight-red{
  color:#067DC5;
  font-size: 16px;
}

.result-highlight-red{
  color:#D83500;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
  }
  /* Space out the masthead */
  .header {
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Customize container */
@media (min-width: 960px) {

  .salary-settings{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 286px;
    border: none;
    border-right: 1px solid #ccc;
    margin:0;
  }

  .salary-settings-inner{
    width:224px;
    margin:60px auto 0;
    padding: 0;
  }

  .more-settings{
    display:block;
  }

  .results{
    margin: 40px 10px 0 306px;
  }

  .result-block{
    margin-bottom:37px;
  }

  .header {
    position: absolute;
    top:10px;
    left:16px;
    padding: 8px 15px;
  }

  .header h3{
    color:#666;
  }

  #taxed-bg {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }

  .hide-toggle{
    display:none;
  }

}


@media (min-width: 1360px){

  .results {
    margin: 40px 30px 0 326px;
  }

  .result-block table{
    font-size:14px;
  }

}

@media (max-width: 1100px){
  .col-md-6 {
    width: auto;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* --- Bootstap Skin --- */

.dropdown-menu {
  border-radius: 0;
}
