<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculate your take home salary after tax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Salary Calculator: calculate your take home pay after tax. See a detailed break down and comparisons with different salary options.">
    <meta name="keywords" content="Tax, Salary, Salary Calculators, Tax Calculators, Taxnumpty">
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/plotinator.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script>
      document.documentElement.className = document.documentElement.className.replace("no-js","");
    </script>
  </head>
  <body ng-app="taxnumptyApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header clearfix">
      <h1 class="site">Taxed <span>planet</span></h1>
      <h2 class="page-title">Salary Calculator</h2>
      <div ng-controller="Calculator" class="selected-calculator dropdown">
        <div class="selected-calculator-inner" data-toggle="dropdown">
          <div class="selected" ng-bind="calculatorState.ruleSetName"></div>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
          <li role="presentation" ng-repeat="ruleSet in availableRules" ng-click="selectYear(ruleSet)"><a role="menuitem" >{{ruleSet.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="results-container">
      <div class="results" ng-view="">
      </div>
      <a href="https://plus.google.com/+davidbuttar?
       rel=author" style="display:none">Google</a>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48692124-1', 'taxedplanet.com');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/angular-local-storage.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/processRules.js"></script>
    <script src="scripts/services/rules/ukRuleFactory.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/directives/stackDirective.js"></script>
    <script src="scripts/directives/donutDirective.js"></script>
    <script src="scripts/directives/easy-social-share.js"></script>
    <script src="scripts/directives/autoFocus.js"></script>
    <script type="text/javascript" src="scripts/plotinator.min.js"></script>
    <!-- endbuild -->
</body>
</html>
