
<div class="salary-settings">
  <div class="salary-settings-inner">
    <!--h2 class="salary-hd">Taxedplanet.com | Uk Tax Calculator</h2-->
    <form role="form">
      <div class="form-group">
        <label for="salaryInput">Salary</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter salary" ng-model="visSalary">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{payPeriod}} <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li><a ng-click="setPayPeriod('Yearly')">Yearly</a></li>
              <li><a ng-click="setPayPeriod('Monthly')">Monthly</a></li>
              <li><a ng-click="setPayPeriod('Weekly')">Weekly</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <h4 class="hide-toggle" ng-click="setViewSettings()">
        More Options <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':showMoreSettings, 'glyphicon-chevron-left':!showMoreSettings}"></i></h4>
      <div class="more-settings" ng-class="{'selected':showMoreSettings}">
        <div class="form-group">
          <label for="age">Age</label>
          <select ng-model="selectedAge" class="form-control" ng-options="c.name for c in ages"></select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              Include Student Loan <input type="checkbox" ng-model="student">
            </label>
          </div>
          <div class="checkbox">
            <label>
              Married <input type="checkbox" ng-model="married">
            </label>
          </div>
          <div class="checkbox">
            <label>
              Blind <input type="checkbox" ng-model="blind">
            </label>
          </div>
          <div class="checkbox">
            <label>
              No N.I. <input type="checkbox" ng-model="noNI">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="salaryInput">Pension Contribution</label>
          <input type="text" class="form-control" id="pensionInput" placeholder="Enter pension" ng-model="pension">
        </div>
        <div class="form-group">
          <label for="salaryInput">Added Allowance</label>
          <input type="text" class="form-control" id="addAllowanceInput" placeholder="Enter Allowance or subtraction" ng-model="addAllowance">
        </div>
      </div>
    </form>
  </div>
</div>

    <div class="row">
      <div class="col-md-6">
        <div class="result-block">
          <h4>Summary</h4>
          <p class="result-summary">From a salary of <span class="result-highlight">&pound;{{salary | number:2}}</span> your take home pay is <span class="result-highlight">&pound;{{totalTakeHome | number:2}}</span> a year (<span class="result-highlight">&pound;{{totalTakeHome/12 | number:2}}</span> a month)</p>

          <p class="result-summary">The total deducted from your wages is <span class="result-highlight-red">&pound;{{totalDeductions | number:2}}</span> (<span class="result-highlight-red">&pound;{{totalDeductions/12 | number:2}}</span> a month).</p>
        </div>
        <div class="result-block">
          <h4>Details</h4>
<table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Yearly</th>
          <th>Monthly</th>
          <th>Weekly</th>
        </tr>
      </thead>
      <tbody>
        <tr class="warning">
          <td>Salary</td>
          <td>{{salary | number:2}}</td>
          <td>{{salary/12 | number:2}}</td>
          <td>{{salary/52 | number:2}}</td>
        </tr>
        <tr class="danger">
          <td >Taxable</td>
          <td>{{taxableIncome | number:2}}</td>
          <td>{{taxableIncome/12 | number:2}}</td>
          <td>{{taxableIncome/52 | number:2}}</td>
        </tr>
        <tr>
          <td>Allowance</td>
          <td>{{incomeTaxAllowance | number:2}}</td>
          <td>{{incomeTaxAllowance/12 | number:2}}</td>
          <td>{{incomeTaxAllowance/52 | number:2}}</td>
        </tr>
        <tr>
          <td>Income Tax</td>
          <td>{{incomeTax | number:2}}</td>
          <td>{{incomeTax/12 | number:2}}</td>
          <td>{{incomeTax/52 | number:2}}</td>
        </tr>
        <tr>
          <td>N.I.</td>
          <td>{{nationalInsurance | number:2}}</td>
          <td>{{nationalInsurance/12 | number:2}}</td>
          <td>{{nationalInsurance/52 | number:2}}</td>
        </tr>
        <tr ng-show='studentLoan > 0'>
          <td>Student Loan</td>
          <td>{{studentLoan | number:2}}</td>
          <td>{{studentLoan/12 | number:2}}</td>
          <td>{{studentLoan/52 | number:2}}</td>
        </tr>
        <tr ng-show='pension > 0'>
          <td>Pension</td>
          <td>{{pension | number:2}}</td>
          <td>{{pension/12 | number:2}}</td>
          <td>{{pension/52 | number:2}}</td>
        </tr>
        <tr ng-show='pension > 0'>
          <td>Pension HMRC</td>
          <td>{{pensionHMRC | number:2}}</td>
          <td>{{pensionHMRC/12 | number:2}}</td>
          <td>{{pensionHMRC/52 | number:2}}</td>
        </tr>
        <tr class="danger">
          <td>Total Deductions</td>
          <td>{{totalDeductions | number:2}}</td>
          <td>{{totalDeductions/12 | number:2}}</td>
          <td>{{totalDeductions/52 | number:2}}</td>
        </tr>
        <tr class="success">
          <td>Take Home Pay</td>
          <td>{{totalTakeHome | number:2}}</td>
          <td>{{totalTakeHome/12 | number:2}}</td>
          <td>{{totalTakeHome/52 | number:2}}</td>
        </tr>
      </tbody>
    </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="result-block">
          <h4>Analysis</h4>
          <p p class="result-summary">Over a working lifetime at the current salary you will take home <span class="result-highlight">&pound;{{totalTakeHome*45 | number:2}}</span> and pay <span class="result-highlight-red">&pound;{{(incomeTax+nationalInsurance)*45 | number:2}}</span> in tax.</p>
        </div>
      </div>
    </div>

    <!--img src="images/taxplanet-bg.png" alt="" id="taxed-bg"/-->

