<div class="salary-settings">
  <div class="salary-settings-inner">
    <form role="form">
      <div class="form-group">
        <label for="salaryInput">Salary</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter salary" id="salaryInput" ng-model="visSalary" auto-focus>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{payPeriod}} <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li><a ng-click="setPayPeriod('Yearly')">Yearly</a></li>
              <li><a ng-click="setPayPeriod('Monthly')">Monthly</a></li>
              <li><a ng-click="setPayPeriod('Weekly')">Weekly</a></li>
              <li><a ng-click="setPayPeriod('Daily')">Daily (5 days a week)</a></li>
              <li><a ng-click="setPayPeriod('Hourly')">Hourly (37.5 hrs a week)</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      <h4 class="hide-toggle" ng-click="setViewSettings()">
        More Options <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':showMoreSettings, 'glyphicon-chevron-left':!showMoreSettings}"></i></h4>
      <div class="more-settings" ng-class="{'selected':showMoreSettings}">
        <div class="form-group">
          <label for="age">Age</label>
          <select ng-model="selectedAge" id="age" class="form-control" ng-options="c.name for c in ages"></select>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              Include Student Loan <input type="checkbox" ng-model="calculatorState.student">
            </label>
          </div>
          <div class="checkbox">
            <label>
              Married <input type="checkbox" ng-model="calculatorState.married">
            </label>
          </div>
          <div class="checkbox">
            <label>
              Blind <input type="checkbox" ng-model="calculatorState.blind">
            </label>
          </div>
          <div class="checkbox">
            <label>
              No N.I. <input type="checkbox" ng-model="calculatorState.noNI">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="pensionInput">Pension Contribution (%)</label>
          <input type="text" class="form-control" id="pensionInput" placeholder="Enter pension %" ng-model="pensionPercentage" maxlength="3">
        </div>
        <div class="form-group">
          <label for="addAllowanceInput">Added Allowance</label>
          <input type="text" class="form-control" id="addAllowanceInput" placeholder="Enter Allowance or subtraction" ng-model="calculatorState.addAllowance">
        </div>
      </div>
    </form>

  </div>

</div>
<div class="row result-block">
  <div class="result-hd">
    <h4>Summary</h4>
    <div class="time-period-options">
      <ul>
        <li ng-class="{selected: summaryPeriods.yearly}" ng-click="toggleSummaryPeriod('yearly')" title="Yearly">YR</li>
        <li ng-class="{selected: summaryPeriods.monthly}" ng-click="toggleSummaryPeriod('monthly')" title="Monthly">MN</li>
        <li ng-class="{selected: summaryPeriods.weekly}" ng-click="toggleSummaryPeriod('weekly')" title="Weekly">WK</li>
        <li ng-class="{selected: summaryPeriods.daily}" ng-click="toggleSummaryPeriod('daily')" title="Daily">DY</li>
        <li ng-class="{selected: summaryPeriods.hourly}" ng-click="toggleSummaryPeriod('hourly')" title="Hourly">HR</li>
      </ul>
    </div>
  </div>
  <div class="results-summary-data clearfix">
    <div class="result-summary-ctr">
      <p class="result-summary" ng-show="summaryPeriods.yearlyTotal"><span class="result-label" style="font-weight: bold">Yearly Total</span> <span class="result-highlight">&pound;{{calculatorState.salary | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.hourly"><span class="result-label">Hourly take home pay</span> <span class="result-highlight">&pound;{{((calculatorState.totalTakeHome/52)/37.5) | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.hourly"><span class="result-label-deduction">Hourly Deductions</span> <span class="result-highlight-red">&pound;{{((calculatorState.totalDeductions/52)/37.5) | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.daily"><span class="result-label">Daily take home pay</span> <span class="result-highlight">&pound;{{(calculatorState.totalTakeHome/52)/5 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.daily"><span class="result-label-deduction">Daily Deductions</span> <span class="result-highlight-red">&pound;{{(calculatorState.totalDeductions/52)/5 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.weekly"><span class="result-label">Weekly take home pay</span> <span class="result-highlight">&pound;{{calculatorState.totalTakeHome/52 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.weekly"><span class="result-label-deduction">Weekly Deductions</span> <span class="result-highlight-red">&pound;{{calculatorState.totalDeductions/52 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.monthly"><span class="result-label">Monthly take home pay</span> <span class="result-highlight">&pound;{{calculatorState.totalTakeHome/12 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.monthly"><span class="result-label-deduction">Monthly Deductions</span> <span class="result-highlight-red">&pound;{{calculatorState.totalDeductions/12 | number:2}}</span></p>
      <p class="result-summary" ng-show="summaryPeriods.yearly"><span class="result-label">Yearly take home pay</span> <span class="result-highlight">&pound;{{calculatorState.totalTakeHome | number:2}}</span><span class="result-highlight"></span></p>
      <p class="result-summary" ng-show="summaryPeriods.yearly"><span class="result-label-deduction">Yearly Deductions</span> <span class="result-highlight-red">&pound;{{calculatorState.totalDeductions | number:2}}</span></p>

    </div>
    <div chart-donut salary-values="[calculatorState.totalTakeHome, calculatorState.totalDeductions]" chart-id="pieChart" class="result-summary-chart" >
      <div id="pieChart" class="cbc-chart"></div>
      <div class="result-summary-percentage" ng-if="calculatorState.salary">{{(calculatorState.totalTakeHome/calculatorState.salary)*100 | number:2}}%</div>
    </div>
  </div>

</div>
<div class="row result-block">
  <div class="result-hd details-hd">
    <h4>Details</h4>
    <div class="time-period-options">
      <ul>
        <li ng-class="{selected: detailsPeriods.yearly}" ng-click="toggleDetailsPeriod('yearly')" title="Yearly">YR</li>
        <li ng-class="{selected: detailsPeriods.monthly}" ng-click="toggleDetailsPeriod('monthly')" title="Monthly">MN</li>
        <li ng-class="{selected: detailsPeriods.weekly}" ng-click="toggleDetailsPeriod('weekly')" title="Weekly">WK</li>
        <li ng-class="{selected: detailsPeriods.twoWeekly}" ng-click="toggleDetailsPeriod('twoWeekly')" title="Two Weekly">TW</li>
        <li ng-class="{selected: detailsPeriods.daily}" ng-click="toggleDetailsPeriod('daily')" title="Daily">DY</li>
        <li ng-class="{selected: detailsPeriods.hourly}" ng-click="toggleDetailsPeriod('hourly')" title="Hourly">HR</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div my-stack salary-values="[calculatorState.totalTakeHome, calculatorState.nationalInsurance, calculatorState.incomeTax, calculatorState.studentLoan ]" id="bar-chart" chart-id="bar-chart" class="cbc-chart"></div>
  </div>
  <div class="col-md-8" id="tax-report">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th ng-if="detailsPeriods.yearly">Yearly</th>
          <th ng-if="detailsPeriods.monthly">Monthly</th>
          <th ng-if="detailsPeriods.weekly">Weekly</th>
          <th ng-if="detailsPeriods.twoWeekly">2-Weekly</th>
          <th ng-if="detailsPeriods.daily">Daily</th>
          <th ng-if="detailsPeriods.hourly">Hourly</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>Salary</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.salary | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.salary/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.salary/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.salary/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.salary/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.salary/52)/37.5 | number:2}}</td>
        </tr>
        <tr>
          <td >Taxable</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.taxableIncome | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.taxableIncome/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.taxableIncome/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.taxableIncome/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.taxableIncome/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.taxableIncome/52)/37.5 | number:2}}</td>
        </tr>
        <tr>
          <td>Allowance</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.incomeTaxAllowance | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.incomeTaxAllowance/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.incomeTaxAllowance/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.incomeTaxAllowance/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.incomeTaxAllowance/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.incomeTaxAllowance/52)/37.5 | number:2}}</td>
        </tr>
        <tr>
          <td>Income Tax</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.incomeTax | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.incomeTax/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.incomeTax/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.incomeTax/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.incomeTax/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.incomeTax/52)/37.5 | number:2}}</td>
        </tr>
        <tr>
          <td>N.I.</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.nationalInsurance | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.nationalInsurance/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.nationalInsurance/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.nationalInsurance/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.nationalInsurance/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.nationalInsurance/52)/37.5 | number:2}}</td>
        </tr>
        <tr ng-if='calculatorState.student' class="warning">
          <td>Student Loan</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.studentLoan | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.studentLoan/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.studentLoan/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.studentLoan/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.studentLoan/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.studentLoan/52)/37.5 | number:2}}</td>
        </tr>
        <tr ng-show='calculatorState.pension > 0'  class="info">
          <td>Pension</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.pension | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.pension/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.pension/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.pension/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.pension/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.pension/52)/37.5 | number:2}}</td>
        </tr>
        <tr ng-show='calculatorState.pension > 0' class="info">
          <td>Pension HMRC</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.pensionHMRC | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.pensionHMRC/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.pensionHMRC/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.pensionHMRC/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.pensionHMRC/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.pensionHMRC/52)/37.5 | number:2}}</td>
        </tr>
        <tr class="deduction">
          <td>Total Deductions</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.totalDeductions | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.totalDeductions/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.totalDeductions/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.totalDeductions/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.totalDeductions/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.totalDeductions/52)/37.5 | number:2}}</td>
        </tr>
        <tr class="success">
          <td>Take Home Pay</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.totalTakeHome | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.totalTakeHome/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.totalTakeHome/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.totalTakeHome/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.totalTakeHome/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.totalTakeHome/52)/37.5 | number:2}}</td>
        </tr>
        <tr ng-show='calculatorState.prevRuleSet'>
          <td>Take Home Last Year</td>
          <td ng-if="detailsPeriods.yearly">{{calculatorState.lastTakeHome | number:2}}</td>
          <td ng-if="detailsPeriods.monthly">{{calculatorState.lastTakeHome/12 | number:2}}</td>
          <td ng-if="detailsPeriods.weekly">{{calculatorState.lastTakeHome/52 | number:2}}</td>
          <td ng-if="detailsPeriods.twoWeekly">{{calculatorState.lastTakeHome/26 | number:2}}</td>
          <td ng-if="detailsPeriods.daily">{{(calculatorState.lastTakeHome/52)/5 | number:2}}</td>
          <td ng-if="detailsPeriods.hourly">{{(calculatorState.lastTakeHome/52)/37.5 | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row result-block">
  <h4 id="log-hd">Calculation Log</h4>
  <p ng-repeat="entry in previousEntries" class="result-summary-2"><span class="result-summary-2-date">{{ entry.entered | date : 'M/d/yy h:mm a'}}</span>
    <span class="result-summary-2-year">| Tax Year: {{entry.year}} |</span>
    <span class="result-summary-2-salary">Salary: &pound;{{entry.visSalary | number:2}} {{entry.payPeriod}} |</span>
    <span class="result-summary-2-salary" ng-if="entry.student">Student |</span>
    <span class="result-summary-2-takehome">Take Home: &pound;{{entry.takeHome | number:2}}</span>
    <span class="result-summary-2-takehome-up" ng-if="(entry.takeHome - calculatorState.totalTakeHome) > 0">| &pound;{{entry.takeHome - calculatorState.totalTakeHome | number:2}} more income than current</span>
    <span class="result-summary-2-takehome-down" ng-if="(entry.takeHome - calculatorState.totalTakeHome) < 0">| &pound;{{calculatorState.totalTakeHome - entry.takeHome | number:2}} less income than current</span></p>
  <p ng-if="!previousEntries.length">Different salary configurations will be saved locally so you can compare them.</p>
</div>

<div share-square="false" share-links="Facebook, Twitter, LinkedIn, Google-Plus" share-title="Article Title" class="share"></div>